In [13]:
import os
import numpy as np
import pandas as pd
import chardet

In [4]:
dir_data = '../Data'

In [15]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
with open(f_app, 'rb') as f:
    result = chardet.detect(f.read())
    print(result)
app_train = pd.read_csv(f_app, encoding = result['encoding'])

Path of read in data: ../Data/HomeCredit_columns_description.csv
{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [7]:
?pd.read_csv

In [24]:
app_train.head()##See first 5 Rows in app_train
app_train.head(10)##See first 10 Rows in app_train
app_train.tail(5)##See end 5 Rows in app_train

,Unnamed: 0,Table,Row,Description,Special
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [25]:
print('Number of Rows:', app_train.shape[0])
print('Number of Columns:', app_train.shape[1])
(R,C) = app_train.shape
print((R,C))

Number of Rows: 219
Number of Columns: 5
(219, 5)

In [26]:
label = app_train.columns
print(label)

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')